


#header-logo {
    max-width: 200px;
    margin-left: calc(50% - 100px);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 210px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}


#nav-wrapper {
    display: inline-block;
    margin-left: 3%;
}

.nav-link {
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    padding: 8px 8px;
}

.nav-link:hover {
    color: black;
}

#bean-burger {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
}

#photo-showcase {
    background-color: #FFE4E1;
    padding-top: 3%;
    padding-bottom: 5%;

}

#parallax {
    background-image: url('https://placeimg.com/900/600/people/grayscale');
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;
}

#parallax-header {
    color: white;
}

#details {
    height: 800px;
}

#footer {

}



/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    #nav-wrapper {
        display: none;
    }
    #bean-burger {
        display: inline;
    }
}
