/* Index 2 styles */

#hero-background-2 {
    background:
        linear-gradient(to top, rgba(255, 255, 255, 0.4) 40%, rgb(255, 255, 255) 85%),
        /* linear-gradient(to bottom, transparent 90%, white 99%), */
        url("../photos/header-cropped_2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

#main-logo-row {
    margin-top: 18%;
}

.header-fonts {
    font-family: Didot;
    /* color: #4D4D4D; */
    color: #6b6b6b;
}

html {
    height: 100%;
}
body {
    overflow-x: hidden;
    height: 100%;
}
.container-fluid {
    max-width: 90%;
    /* Why did I do this again? */
}

.asterisk {
    position: relative;
    top: 3px;
}

.spacing {
    letter-spacing: 1.3px;
}

#index-subtitle {
    font-family: "Gill Sans";
    font-weight: lighter;
    color: #4D4D4D;
}

#header {
    /* Give us some breathing room while we figure out logo sizing and nav */
    height: 160px;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#header-logo {
    max-width: 300px;
    margin-left: calc(50% - 50px);
}


.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 5001;
    right: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav .closebtn {
/*    position: absolute;
    top: 0;
    right: 210px;*/
    font-size: 36px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #9f9d9d;`
}

#nav-wrapper {
    display: inline-block;
    margin-left: 50px;
}

.nav-link {
    font-size: 1.1rem;
    font-family: "Gill Sans";
    font-weight: 100;
    letter-spacing: 1px;
    color: #9f9d9d;
    padding: 8px 4px;
    transition: color 400ms;
}

.nav-link:hover {
    color: #4D4D4D;
}

.sidenav .nav-link {
    margin-left: 10px;
}

#insta {
    width: 60%;
    margin: 0 auto;
}

.slick-prev::before, .slick-next::before {
    color: grey;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.index-round-img {
    width: auto;
    height: 100%;
    margin-left: -38px;
    opacity: 0.7;
    
}

.index-round-mid-img {
    transform: scale(1.7);
}

.insta-image {
    border: 6px solid white;
    border-radius: 2px;
}

#bean-burger {
    display: none;
    float: right;
    position: relative;
    top: -30px;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 35px;
    cursor: pointer;
    color: gray;
}

#intro-links {
    /* background: linear-gradient(to top, #efeae9 97%, #fff 99%) */
}

.main-background {
    /* background: linear-gradient(to top, transparent 90%, white 95%); */
    background-color: #EFEAE9;
}

#main-logo {
    border-bottom: 2px solid #4D4D4D;
    padding-bottom: 30px;
}

.non-index-header {
    background: 
        linear-gradient(to top, rgba(255, 0, 0, 0) 0%, rgb(255, 255, 255) 65%),
        /* linear-gradient(to bottom, transparent 80%, rgb(255, 255, 255) 99%), */
        url("../photos/header-cropped_3.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body, html {
    height: 100%;
}

#test {
    background-color: #EFEAE9;
}



#hero-background {
    background: 
        linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255, 255, 255, .9) 70%),
        linear-gradient(to bottom, transparent 95%, white 99%),
        url("../photos/IMG_0041_cropped_2.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

/* #hero-background {
    position: relative;
    z-index: 6;
    background-image: url("../photos/IMG_0048.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    opacity: .65;

} */



#details {
    /* background: linear-gradient(to bottom, white 90%, #EFEAE9); */
    padding-top: 5%;
    padding-bottom: 6%;
    min-height: 300px;
}

.showcase-photos {
    max-width: 85%;
    opacity: .7;
}

.index-buttons {
    padding: 15px 20px;
    border: 1px solid #4d4d4d;
    transition: all 300ms;
    background-color: inherit;
}

.index-buttons:hover {
    background-color: #4d4d4d;
    color: white;
    text-decoration: none;
}

.index-paras {
    height: 150px;
}

.parallax {
    background-image: linear-gradient(
          rgba(238, 249, 255, .67),
          rgba(238, 249, 255, .67)
    );
    height: 400px;
    /* background: transparent; */
}

#quote {
    font-family: "Didot";
    font-weight: 100;
    color: #4D4D4D;
}

#quote-author {
    font-family: "Didot";
    text-align: right;
    width: 70%;
    color: #4D4D4D;
}

.main-fonts {
    font-family: "Gill Sans";
    font-weight: lighter;
    /* color: #4D4D4D; */
    color: #6b6b6b;
}

.letter-spacing {
    letter-spacing: 4px;
}

.rules {
    width: 400px;
    margin-top: 2rem;
}

#footer {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 5000;
    opacity: 0;
    /* Doesn't seem to do anything */
    transition: all .5s ease-in-out;
}
#overlay.active{
    display: block;
    opacity: 0.8;
}


.about-main-photo {
    width: 90%;
    max-width: 600px;
}

#about-transition-header {
    font-size: 2.3rem;
}

#about-us {
    margin-bottom: 0;
}

#about-divider {
    margin-top: 130px;
    height: 200px;
}

.subpage-paragraph {
    max-width: 550px;
}

.profile-text {
    font-size: 1rem;
    list-style: none;
}

#image-cropper {
    border-radius: 25px;
}

.card-wrapper {
    width: 85%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: -55px;
}


.profile-pics {
    position: relative;
    z-index: 9999;
    border-radius: 50%;
    border: 1px solid #4D4D4D;
    margin-bottom: -30px;

}

.noScroll {
    overflow: hidden;
    position: fixed;
}
.about-hrs {
    border-top: 1px solid #8c8b8b;
    max-width: 250px;
    min-width: 80px;
}

/* SERVICES STYLES */

.services-icons {
    font-size: 3rem;
    color: grey;
}

.services-separator {
    height: 100px;
    border-left: 3px solid grey;
}

#service-col-1 {
    border-right: 1px solid grey;
}

.service-paras {
    max-width: 300px;
    min-width: 260px;
}

.process-wrapper {
    max-width: 550px;
    border: 3px solid grey;
    border-radius: 2%;
}


#pricing-ul {
    text-align: left;
    list-style: inside;
    padding-left: 0;
    width: 450px;

}
.portfolio-image {
    display: block;
}

/* CONTACT STYLES */

#contact-form {
    max-width: 500px;
}

#contact-main-photo {
    max-width: 450px;
}

/* OVERRIDE BOOTSTRAP STYLES */

.card {
    border: none;
    background-color: inherit;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1300px) {
    #mb-profile-wrapper {
        margin-right: 4% !important;
    }
    #leah-profile-wrapper {
        margin-left: 4% !important;
    }
}

@media screen and (min-width: 1170px) {

}

@media screen and (max-width: 880px) {
    /* Hide #nav-wrapper and set beanburger's display to inline 
    on screens smaller than 1100px */
    #nav-wrapper {
        display: none !important;
    }
    #bean-burger {
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    #about-profile-cards-div {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .card-wrapper {

        width: 100%;
        min-width: 288px;
    }
}

@media screen and (max-width: 991px) {
    .index-paras {
        height: auto;
        width: 70% !important;
    }
}

@media screen and (max-width: 930px) {
    #about-transition-header {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 800px) {
    #main-logo {
        width: 300px;
    }
    #index-subtitle {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .showcase-photos {
        width: 500px;
        margin-bottom: 5%;
    }
    .showcase-column {
        text-align: center !important;
    }

    #contact-form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px) {
    #index-subtitle {
        font-size: 1.2rem;
        width: 100%;
    }
}



@media screen and (max-width: 440px) {
    #subpage-paragraph {
        width: 95%;
    }
}
